<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <div>
        <h1 class="logo"><a href="/" class="logo"></a>Expense Flow</h1>
        <p class="signuphead">
            Login into your Expense Flow Account
        </p>
        <form action="/login" class="inputs" method="post">
            <label for="email"> Email: 
                <input name="email" type="email" placeholder="Enter your email">
            </label>
            <label for="password"> Password: 
                <input name="password" type="password" placeholder="Enter your password">
            </label>
            <button type="submit" class="loginButton">Login</button>
        </form>
    </div>
</body>
</html>