<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Expense</title>

</head>
<body>
    <h2>Edit Expense</h2>
    <form action="/expenses/<%= expenses._id %>" method="post">
        <br>
        <div>
            <label for="">Amount</label>
            <input type="number" name="amount" value="<%= expense.amount %>" required>

        </div>

        <br>
        <div>
            <label for="">Category</label>
            <input type="text" name="category" value="<%= expense.category %>" required>

        </div>
        <br>
        <div>
            <label for="">Description</label>
            <input type="text" name="description" value="<%= expense.description %>" required>

        </div>

        <button type="submit">
            Update Expense
        </button>
    </form>

    
</body>
</html>