<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <nav class="header">

        <div class="logo">
            ExpenseFlow
        </div>

        <div class="links">

            <a href="">Home</a>
            <a href="">Login</a>
            <a href="">Signup</a>

        </div>
    </nav>
    <section class="hero">
    <h1 class="heading">Track Your Expenses Effectively</h1>
    <p style="font-family:'Courier New', Courier, monospace">Manage your income, monitor expenses, and stay financially organized</p>

    <button class="start" type="submit" > Get Started</button>
    <form action="/logout" method="post">
    <button class="logout" type="submit", > Logout </button>
    </form>
    </section>
</body>
</html>