/* HOMEPAGE */

body{
    background-color: rgb(21, 74, 94);
    color: white;
}

.header{
    border: 2px solid black;
    padding: 5px;
    display:flex;
    font-weight: bolder;
    justify-content: space-between;
    align-items: center;
}
.heading{
    color: white;
    margin: 10px;
    padding: 20px;
    
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.logo{
    margin: 5px;
    padding: 20px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
.links a{
    padding:15px;
    color: rgb(67, 185, 228);
}

button:hover{
    color:black;
    background: lightpink;
}
.start{
    display:block;
    margin: 0px auto;
    background-color: lightgreen;
    border-radius: 5px;
}


